Body {
    font-family: 'Source Sans Pro', sans-serif;
    /* width: 60%; */
    max-width: 700px;
    margin: 50px auto;
    border: 20px solid #B3BAC1;
    padding: 20px;
}

.date {
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

h2 {
    font-size: 2.0rem;
    color: #2c3e50;
    text-transform: capitalize;
}

div p:nth-of-type(1) {
    border-left: #B3BAC1 solid 8px;
    padding-left: 8px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.post {
    margin-bottom: 20px;
}

div:last-child hr {
    display: none;
}