/* h1 positioning */

h1 {
    font-size: 40px;
    text-align: center
}

/* table positioning */

table {
    margin: auto;
    border-collapse: collapse;
}

/* td sizes */

/* td { padding: 100px;} */

td {
    width: 100px;
    height: 100px
}

/* 2nd row borders */

tr:nth-of-type(2) td { 
    border-top: black solid 2px;
    border-bottom: black solid 2px;
}

/* 2nd column borders */

td:nth-of-type(2) { 
    border-left: black solid 2px;
    border-right: black solid 2px;
}